<p>
Bienvenue sur le site référent en terme d'Acupuncture. Si vous êtes ici, c'est parceque vous voulez le meilleur de l'information médicale acunpuncturienne. 
Notre site est reconnu mondialement pour ses services de recherche de pathologie et de symptômes acunpuncturiens. Régalez-vous.
</p>
<p>
Pour les néophytes en soin a coup d'épine dans le lard, voici une petite définition de ce qu'est l'acunpuncture :
L’acupuncture ou acuponcture (du latin médical du xviie siècle « acupunctura » formé de acus, « aiguille » et punctura, « piqûre ») est un système thérapeutique dont les origines historiques sont très liées avec la tradition médicale chinoise. L'acupuncture consiste en une stimulation de zones précises de l'épiderme : les « points d’acupuncture ». Les techniques de stimulation des points d’acupuncture sont effectuées avec des moyens divers : des aiguilles le plus souvent, mais aussi d'autres moyens physiques (mécaniques, électriques, magnétiques, thermiques, lumineux) ou physico-chimiques, voire d'autres méthodes alternatives dangereuses (apipuncture, apithérapie avec des piqûres d'abeille).
</p>
<p>
Si vous voulez en savoir plus, nous avons la chance de pouvoir compter sur un éminent représentant de l'ordre des Acupuncteurs, Bruno Mascret. N'hésitez pas à soliciter ses conseils !
Vous pourrez trouver l'adresse de son site web dans la rubrique informations.
</p>