<form>
  <fieldset>
    <legend>Critères:</legend>
    <label for="meridien_search">
    Méridien: 
      <select size="5" id="meridien_search" name="meridien">
          <option  value="Poumon">Poumon</option>
          <option  value="Rein">Rein</option>
          <option  value="Ren Mai">Ren Mai</option>
          <option  value="Yanq Qiao Mai">Yanq Qiao Mai</option>
      </select>
    </label>
    Type de pathologie: 
      <select size="5" name="type_patho">
          <option value="Meridien">Meridien</option>
          <option value="Luo">Luo</option>
          <option value="Merveilleux vaisseaux">Merveilleux vaisseaux</option>
          <option value="Jing jin">Jing jin</option>
      </select>
    Caractéristiques:
      <select size="5" name="caracteristique">
          <option value="Plein">Plein</option>
          <option value="Chaud">Chaud</option>
          <option value="Vide">Vide</option>
          <option value="Froid">Froid</option>
      </select>
      <input type="submit" value="rechercher">
  </fieldset>
  
  
</form>