<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Acupuncture - </title>
		<link rel="stylesheet" href="../../public/css/styles.css">
		<!--<script src="script.js"></script>-->
	</head>
	<body>
		<header>
			<div id="header_banner">
				879X108
			</div>
		</header>
		<main>
			<div id="left_column">
				<nav id="navigation_menu">
					<ul>
						<li class="active">
							<a href="#">Accueil</a>
						</li>
						<li>
							<a href="#">Recherche par critère</a>
						</li>
						<li>
							<a href="#">Recherche par pathologie</a>
						</li>
						<li>
							<a href="#">Informations</a>
						</li>
					</ul>
				</nav>
				<div id="login_form">
					<form action="#" method="post">
						<div class="login">
							<label for="login">
								Identifiant
								<input type="text" id="login" name="login">
							</label>
						</div>
						<div class="password">
							<label for="password">
								Mot de passe
								<input type="password" id="password" name="password">
							</label>
						</div>
						<div class="submit">
							<input type="submit" value="Se connecter">
						</div>
					</form>
				</div>
			</div>
			<div id="right_column">
				<div>
					<h1>Titre 1</h1>
					<h2>Titre 2</h2>
					<p>
						<img alt="" src="../../public/img/placeholder.png" />
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula varius tempor. Integer lobortis metus at est interdum sollicitudin. Curabitur varius enim non finibus molestie. Phasellus vitae cursus lectus. Maecenas ut magna sed velit rhoncus feugiat vel nec est. Pellentesque vulputate tincidunt nunc id tincidunt. In lobortis nunc nec orci scelerisque fringilla. Donec egestas sit amet lectus eu eleifend. Nullam a dui lorem. Aenean egestas neque quis nisi mattis, ac iaculis justo rutrum. Proin nunc dolor, condimentum vel tincidunt sed, mollis ut neque. Maecenas quis ornare quam, et porttitor ex. Curabitur neque risus, porttitor fringilla tempor et, tempor in lorem.
					</p>
					<p>
						Nam efficitur, tortor eget blandit ultricies, orci dolor mattis lorem, in egestas risus est nec purus. Nullam ut tellus enim. Curabitur eu consequat libero, in fringilla magna. Nulla non hendrerit sapien, eu tincidunt sem. In velit massa, suscipit at metus sed, faucibus dictum urna. Etiam at consectetur urna. Morbi volutpat mauris non posuere viverra. Praesent tristique varius aliquet. Donec est risus, ullamcorper imperdiet elit id, interdum interdum felis. Donec leo lectus, vestibulum at ornare a, porta et velit. Sed ut tellus tristique, blandit enim a, blandit velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae vestibulum ligula, sit amet porttitor libero. Mauris eget mauris sagittis tellus ultrices aliquam. Donec a urna eu dolor bibendum commodo.
					</p>
					<p>
						Pellentesque ultricies iaculis ultricies. Maecenas eu pulvinar lorem, sed aliquet mi. Pellentesque at eros iaculis, ultricies tellus ut, tempus massa. Curabitur efficitur turpis eu commodo dignissim. Pellentesque ac consequat lacus, sit amet aliquam magna. Vivamus scelerisque dictum justo. Suspendisse nunc odio, sodales ut felis sed, dignissim cursus metus. Nam mattis placerat euismod.
					</p>
				</div>
			</div>
		</main>
		<footer>
			<nav id="footer_menu">
				<ul>
					<li>
						<a href="#">Plan du site</a>
					</li>
					<li>
						<a href="#">Mentions légales</a>
					</li>
					<li>
						<a href="#">Contacts</a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>